<%= stylesheet_link_tag "application" %>
<div id="landing-greeting" class="d-flex app-main">
    <!--text-center adds margin:auto to text elements -->
    <div class="col-md-12 col-lg-12 col-xl-7 d-flex ">
        <div class="d-flex flex-column mx-auto greeting-container">
            <h1 id="greeting-line-1" class="playfair-display-fontify">Hello,</h1>
            <h1 id="greeting-line-2" class="playfair-display-fontify">I'm Kyle Sarre</h1>
            <h2 id="h2-landing" class="lead playfair-display-fontify">A software developer from Baton Rouge, Louisiana. </p>
            <h2 id="h2-landing" class="lead playfair-display-fontify">I build performant, scalable web applications for the cloud.  </p>
                <%= link_to '<svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" width="24" height="24">
                <path d="M4.75 17.25a.75.75 0 0 1 .75.75v2.25c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V18a.75.75 0 0 1 1.5 0v2.25A1.75 1.75 0 0 1 18.25 22H5.75A1.75 1.75 0 0 1 4 20.25V18a.75.75 0 0 1 .75-.75Z"/><path d="M5.22 9.97a.749.749 0 0 1 1.06 0l4.97 4.969V2.75a.75.75 0 0 1 1.5 0v12.189l4.97-4.969a.749.749 0 1 1 1.06 1.06l-6.25 6.25a.749.749 0 0 1-1.06 0l-6.25-6.25a.749.749 0 0 1 0-1.06Z"/></svg>
                My Resume'.html_safe,
                {controller: "home", action: "download_pdf"}, id:"resume-dl", class: "d-inline btn btn-lg clickable"%>
        </div>
    </div>
</div>
<div class="row mx-0 dev-section">
    <div class="d-flex flex-column justify-content-center col-12 col-md-6 about-me-container">
        <div class="subsection text-center dev-content my-0">
            <h2 class="landing-heading">About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
    </div>
    <div class="d-flex flex-column col-12 col-md-6 justify-content-center cube-container">
        <%= render 'home/cube' %>
    </div>
</div>
<div class="subsection my-0 py-5">
    <div class="container row">
        <div class="col-12 col-md-3">
            <div class="dev-content text-center">
                <img class="img-placeholder">
                <h2>Web Developer</h2>
                <p>Over 4 years of professional web experience</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="dev-content text-center">
                <img class="img-placeholder">
                <h2>Cloud Practitioner</h2>
                <p>Experience managing cloud infrastructure and utilizing cloud solutions for app development</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="dev-content text-center">
                <img class="img-placeholder">
                <h2>Full-stack</h2>
                <p>Experience with all sides of the equation: UI, APIs, databases</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="dev-content text-center">
                <img class="img-placeholder">
                <h2>Flexible</h2>
                <p>Language-agnostic paradigm</p>
            </div>
        </div>
    </div>
</div>
<div class="subsection my-0">
    <div class="row scroller-separator"></div>
        <div class="row scroller">
            <div class= "scroller-inner">
            <img class="icon" src="<%= asset_path('django-icon.png') %>" alt="Django" />
            <img class="icon" src="<%= asset_path('spring-icon.png') %>" alt="Spring" />
            <img class="icon" src="<%= asset_path('git-icon.png') %>" alt="Github" />
            <img class="icon" src="<%= asset_path('docker-icon.png') %>" alt="Docker" />
            <img class="icon" src="<%= asset_path('jira-icon.png') %>"  alt="Jira" />
            <img class="icon" src="<%= asset_path('node-icon.png') %>" alt="Nodejs" />
            <img class="icon" src="<%= asset_path('python-icon.png') %>" alt="Python" />
            <img class="icon" src="<%= asset_path('django-icon.png') %>" alt="Django" />
            <img class="icon" src="<%= asset_path('spring-icon.png') %>" alt="Spring" />
            <img class="icon" src="<%= asset_path('git-icon.png') %>" alt="Github" />
            <img class="icon" src="<%= asset_path('docker-icon.png') %>" alt="Docker" />
            <img class="icon" src="<%= asset_path('jira-icon.png') %>" alt="Jira" />
            <img class="icon" src="<%= asset_path('node-icon.png') %>" alt="Nodejs" />
            <img class="icon" src="<%= asset_path('python-icon.png') %>" alt="Python" />
        </div>
    </div>
    <div class="row scroller-separator"></div>
</div>
<div class="subsection my-0">
    <h2 class="landing-heading text-center v-padded">Projects</h2>
  <% @projects.each_with_index do |project, index| %>
    <% if index.even? %>
      <%= render partial: "home/project", locals: { project: project } %>
    <% else %>
      <%= render partial: "home/project_reversed", locals: { project: project } %>
    <% end %>
  <% end %>
</div>
<div class="v-padded subsection my-0">
</div>
    <%# <div class="row py-5">
        <div class="col-12 col-sm-4 col-md-4">
            <div class="subsection mx-5">
            <h2>
                PyPlay
            </h2>
            <p class="proj-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-8">
        <div id="card-2" class="span project-card" style="width: 40rem; height: 25rem;"></div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 col-sm-8 col-md-8">
        <div id="card-3" class="span project-card" style="width: 40rem; height: 25rem;">|IssueIt|</div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 ">
            <div class="subsection mx-5">
            <h2>
                Space Survivor
            </h2>
            <p class="proj-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            </div>
        </div>
    </div> %>
</div>
